.skills__container{
    /* grid-template-columns: repeat(2,350px); */
    column-gap: 3rem;
    justify-content: center;
}

.skill__tech{
    grid-template-columns: repeat(6,140px);
    gap: 0.5 rem;
    margin-bottom: var(--mb-2);
}
.skill__soft{
    grid-template-columns: repeat(4,140px);
    gap: 0.5 rem;
    margin-bottom: var(--mb-2);
}

.skill__box{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.skill__title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.skill__subtitle{
    font-size: var(--tiny-font-size);
}
.skill__icon{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .skill__tech{
        grid-template-columns: repeat(4,140px);
       
    }
    .skill__soft{
        grid-template-columns: repeat(4,140px);
      
    }
   }
   
   /* For medium devices */
   @media screen and (max-width: 768px) {
    .skill__tech{
        grid-template-columns: repeat(2,140px);
       
    }
    .skill__soft{
        grid-template-columns: repeat(2,140px);
      
    }
   }
   
   
   /* For small devices */
   @media screen and (max-width: 350px) {
    
    .skill__tech{
        grid-template-columns: repeat(1,140px);
       
    }
    .skill__soft{
        grid-template-columns: repeat(1,140px);
      
    }
   }
   